aiohappyeyeballs
aiohttp
aiosignal
albucore
albumentations
annotated-types
anyio
astor
attrs
beautifulsoup4
blinker
cachetools
certifi
chardet
charset-normalizer
click
colorlog
contourpy
cssselect
cssutils
cycler
Cython
dataclasses-json
decorator
distro
einops
et_xmlfile
filelock
fire
Flask
fonttools
frozenlist
fsspec
ftfy
GPUtil
greenlet
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
imageio
imagesize
itsdangerous
Jinja2
jiter
joblib
jsonpatch
jsonpointer
kiwisolver
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
lazy_loader
lmdb
lxml
MarkupSafe
marshmallow
matplotlib
more-itertools
mpmath
multidict
mypy_extensions
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
opencv-contrib-python
opencv-python
opencv-python-headless
openpyxl
opt-einsum
orjson
packaging
paddleocr
paddlepaddle-gpu
paddlex
pandas
pillow
premailer
prettytable
propcache
protobuf
psutil
py-cpuinfo
pyclipper
pydantic
pydantic-settings
pydantic_core
pyparsing
pypdfium2
pytesseract
python-dateutil
python-docx
python-dotenv
pytz
PyYAML
RapidFuzz
regex
requests
requests-toolbelt
ruamel.yaml
ruamel.yaml.clib
scikit-image
scikit-learn
scipy
setuptools
shapely
simsimd
six
sniffio
soupsieve
SQLAlchemy
stringzilla
sympy
tenacity
termcolor
threadpoolctl
tifffile
tiktoken
tokenizers
torch
torchvision
tqdm
triton
typing-inspect
typing-inspection
typing_extensions
ujson
ultralytics
ultralytics-thop
urllib3
wcwidth
Werkzeug
yarl
zstandard
